ion-content[custom-palette] {
  --background: var(--content-bg);
  &[padding] {
    padding: var(--content-padding);
  }
  ion-item {
    --border-color: var(--item-border-color) !important;
    --background: transparent;
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    margin-block-start: .5em;
    margin-block-end: 1em;
    b, strong {
      font-weight: 600;
    }
    ion-icon {
      margin-right: .25em;
      margin-left: .25em;
      margin-bottom: -.2em;
      font-size: 1.25em;
    }
  }
  h1 {
    font-size: 32px;
    line-height: 36px;
  }
  h2 {
    font-size: 28px;
    line-height: 32px;
  }
  h3 {
    font-size: 24px;
    line-height: 28px;
  }
  h4 {
    font-size: 22px;
    line-height: 26px;
  }
  h5 {
    font-size: 20px;
    line-height: 24px;
  }
  h6 {
    font-size: 18px;
    line-height: 22px;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }
  a {
    background-color: transparent;
    color: var(--ion-color-primary);
    text-decoration: underline;
  }
  [margin] {
    margin: var(--content-padding) !important;
  }
  [bordered] {
    border: 1px solid rgba(0, 0, 0, .1);
  }
  hr {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    margin: var(--content-padding) 0;
  }
}