.ios {
  ion-alert .alert-button {
    // color: #3880ff !important;
  }
  ion-action-sheet .sc-ion-action-sheet-ios {
    // color: #3880ff !important;
  }
  ion-picker .picker-toolbar * {
    // color: #3880ff !important;
  }
}
ion-picker .picker-wrapper .picker-toolbar-cancel button,
ion-alert .alert-button-group button:first-child:not(:last-child) {
  color: var(--ion-color-medium) !important;
}
/*
 *  ALERT
 */
ion-alert.custom-alert-message {
  .alert-button {
    color: var(--ion-color-primary, #3880ff) !important;
  }
  .alert-wrapper {
    max-height: calc(100% - 30px - var(--ion-safe-area-top) - var(--ion-safe-area-bottom)) !important;
    min-width: 280px !important;
    max-width: 360px !important;
    margin: 40px !important;
  }
  .alert-head {
    padding: 0px !important;
  }
  .alert-message {
    max-height: 100% !important;
    padding: 16px 16px 6px 16px !important;
    text-align: center;
    .title {
      font-size: 20px;
      line-height: 24px;
      font-weight: 600;
      margin: 16px 0;
      color: var(--ion-color-dark);
    }
    .desc {
      font-size: 16px;
      line-height: 20px;
      margin: 16px 0;
      color: var(--ion-color-medium);
    }
    .image {
      width: 150px;
      height: 150px;
    }
  }
  .alert-button-group.sc-ion-alert-md {
    flex-direction: column;
    .alert-button {
      margin: 0px;
      margin: 0 8px 16px 8px;
      &:not(.secondary) {
        color: var(--ion-color-light) !important;
        background: var(--ion-color-primary);
      }
      &.secondary {
        border: 1px solid var(--ion-color-medium);
        color: var(--ion-color-medium) !important;
      }
      .alert-button-inner {
        justify-content: center;
      }
    }
  }
}
@media (min-width: 690px) {
  ion-alert.custom-alert-message .alert-wrapper {
    max-width: 640px !important;
    padding: 20px;
    .alert-button-group {
      flex-direction: row;
      justify-content: center;
      .alert-button {
        padding: 10px 30px !important;
      }
    }
  }
}
//
ion-alert.custom-alert-modal-full-screen {
  .alert-button {
    color: var(--ion-color-primary, #3880ff) !important;
  }
  .alert-wrapper {
    max-height: calc(100% - 30px - var(--ion-safe-area-top) - var(--ion-safe-area-bottom)) !important;
    max-width: 600px !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
  }
  .alert-head {
    display: none;
  }
  .alert-message {
    max-height: 100% !important;
    max-width: 100% !important;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    .header {
      padding: 15px 0;
      font-size: 24px;
      color: var(--ion-color-dark);
      border-bottom: 2px solid var(--ion-color-light);
      line-height: 24px;
      font-size: 20px;
      margin-left: 24px;
      margin-right: 24px;
      img {
        width: 24px;
        height: 24px;
        object-fit: contain;
        margin: 5px 10px -5px 0;
      }
    }
    .content {
      flex: 1 1 auto;
      overflow-y: scroll;
      padding-left: 24px;
      padding-right: 24px;
      color: var(--ion-color-medium-dark);
      ion-item.checkbox {
        margin: 20px 0;
        --padding-start: 0px;
        --padding-end: 0px;
        ion-checkbox {
          float: left;
          margin-right: 20px;
        }
        ion-label {
          font-size: 16px;
          line-height: 20px;
          color: var(--ion-color-medium-dark);
        }
      }
    }
  }
  .alert-button-group, .alert-button-group.sc-ion-alert-md {
    flex-direction: initial !important;
    height: 60px !important;
    min-height: 60px !important;
  }
}
ion-alert.custom-alert-modal,
ion-alert.custom-alert-modal-full-screen {
  .alert-button-group.sc-ion-alert-md {
    padding-bottom: 16px;
    button {
      height: 40px !important;
      &.primary-fill {
        color: var(--ion-color-light) !important;
        background: var(--ion-color-primary);
      }
      &.primary {
        color: var(--ion-color-primary) !important;
      }
      &.secondary {
        color: var(--ion-color-medium) !important;
      }
    }
  }
}
