ion-content[custom-palette] {
  ion-grid[no-padding] {
    padding: 0;
    & ion-row, & ion-col { padding: 0; }
  }
  ion-grid {
    padding: 0px;
    margin: 10px -15px;
    ion-col {
      padding: 0 15px;
    }
  }
}
